@model WebUI.Models.HakkimizdaUpdateViewModel
@{
    ViewData["Title"] = "HakkimizdaGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <input type="hidden" asp-for="Hakkimizda.Id" />
  
    <div class="form-group">
        <label>Açıklama</label>
        <textarea class="form-control" asp-for="Hakkimizda.Aciklama"></textarea>
    </div>

    <div class="form-group">
        <label>Resim</label>
        <input type="text" class="form-control" asp-for="Hakkimizda.FotoUrl" />
    </div>
    <button type="submit" class="btn btn-success">Hakkımızda Güncelle</button>
</form>



