@model WebUI.Models.BlogAddViewModel
@{
    ViewData["Title"] = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <div class="form-group">
        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="Baslik" />
        <span asp-validation-for="Baslik" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Açıklama</label>
        <textarea class="form-control" asp-for="Aciklama"></textarea>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Blog Resmi</label>
        <input type="text" class="form-control" asp-for="BlogImage" />
        <span asp-validation-for="BlogImage" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Blog Ekle</button>
</form>



